
{% load static %}

{% block styles %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<title >HOME</title>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to Flight Website</h1>
        <p>Discover the best flights and book your next adventure!</p>
    </div>


    <span>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            
                            <a href="{% url 'create-flight' %}">
                                <button type="button" style="background-color: green; color: white;">Create Flight</button>

                            </a>                            
                        </div>  
                    </div>  
                </div>                   
            </div>  
        </div>
    </span>     

    <!-- Additional content here -->

</body>
{% endblock content %}
